html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Стили для таблиц Index */

table.table > tbody > tr > td > img.character-icon {
    width: 100px;
}

table.table > tbody > tr > td >
.vision-icon, .weapon-type-icon {
    width: 30px;
}

table.table > tbody > tr > td.btn-block > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

table.table > tbody > tr > td.btn-block > div > a.btn {
    margin-bottom: 10px;
    font-size: 0.8rem;
}